<%= form_for(@callcenter) do |f| %>
  <% if @callcenter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@callcenter.errors.count, "error") %> prohibited this callcenter from being saved:</h2>

      <ul>
      <% @callcenter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
  <div class="field">
    <%= f.label :networked %><br />
    <%= f.check_box :networked %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
