<p id="notice"><%= notice %></p>

<h5>Edit Call Center</h5>


<table border="0" cellspacing="5" cellpadding="5">
<%= form_for(@callcenter) do |f| %>
	<tr>
		<th>Name</th>
		<th>Priority</th>
		<th>Networked</th>		
		<th>DN</th>	
		<th>CDN</th>	     
		<th>MSG</th>	  
	</tr>
	<tr>
		<td><%= f.text_field :name %></td>
		<td><%= f.number_field :priority, :in => 1..6 %></td>		
		<td><%= f.check_box :networked %></td>	
	
		<td><div id="outsidenumbers"><%= render :partial => @callcenter.outsidenumbers %></div</td>	
		<td><div id="cdns"><%= render :partial => @callcenter.cdns %></div></td>   
		<td><div id="callcenter_msgs"><%= render :partial => @callcenter.callcenter_msgs %></div></td>    
	</tr>

		<tr>
		<td><%= f.submit %></td>	
	    <td></td>	
	    <td></td>	
<% end %>	
	    <td>	
	    	<%= form_for [@callcenter, Outsidenumber.new], :remote => true do |f| %>
                <%= f.text_field :dn %>
                <%= f.submit "Add DN" %>
            <% end %>   
        </td>	
	    <td>			
	    	<%= form_for [@callcenter, Cdn.new], :remote => true do |f| %>
                <%= f.text_field :extension %>
                 <%= f.submit "Add CDN" %>
            <% end %>
        </td>	
		<td>			
			<%= form_for [@callcenter, CallcenterMsg.new], :remote => true do |f| %>
                <%= f.collection_select :msg_code, Msg.all, :code, :code %>
                <%= f.submit "Add MSG" %>
            <% end %>        
        </td>		
	</tr>
	<tr>
		<td><%= link_to 'Back', @callcenter %></td>	
	    <td></td>	
	    <td></td>	
	    <td></td>	
	    <td></td>	
		<td><%=link_to 'Edit', edit_callcenter_path(@callcenter) %></td>		
	</tr>
</table>



