<h5>Listing call centers</h5>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Networked</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @callcenters.each do |callcenter| %>
  <tr>
    <td><%= callcenter.name %></td>
    <td><%= callcenter.priority %></td>
    <td><%= callcenter.networked %></td>
    <td><%= link_to 'Detail', callcenter %></td>
    <td><%= link_to 'Edit', edit_callcenter_path(callcenter) %></td>
    <td><%= link_to 'Delete', callcenter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Callcenter', new_callcenter_path %>
