<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @callcenter.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @callcenter.priority %>
</p>

<p>
  <b>Networked:</b>
  <%= @callcenter.networked %>
</p>


<%= link_to 'Edit', edit_callcenter_path(@callcenter) %> |
<%= link_to 'Back', callcenters_path %>

 <div id="outsidenumbers">
         <%= render :partial => @callcenter.outsidenumbers %>
 </div>
 
 <div id="cdns">
         <%= render :partial => @callcenter.cdns %>
 </div>

<%= form_for [@callcenter, Outsidenumber.new], :remote => true do |f| %>
        <p>
                <%= f.label :dn, "New DN" %><br/>
                <%= f.text_field :dn %>
        </p>
        <p><%= f.submit "Add DN" %></p>
<% end %>

<%= form_for [@callcenter, Cdn.new], :remote => true do |f| %>
        <p>
                <%= f.label :extension, "New CDN" %><br/>
                <%= f.text_field :extension %>
        </p>
        <p><%= f.submit "Add CDN" %></p>
<% end %>