<p id="notice"><%= notice %></p>

<h5>Call Center Detail</h5>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Priority</th>
		<th>Hours</th>
		<th>Networked</th>		
		<th>DN</th>	
		<th>CDN</th>	
		<th>VSVM</th>	     
		<th>MSG</th>	  
	</tr>
	<tr>
		<td><%= @callcenter.name %></td>
		<td><%= @callcenter.priority %></td>		
		<td><%= @callcenter.office_hour %></td>			
		<td><%= @callcenter.networked %></td>	
		<td><div id="outsidenumbers"><%= render :partial => @callcenter.outsidenumbers.order("dn desc"), :locals => {:show_only => true}  %></div</td>	
		<td><div id="cdns"><%= render :partial => @callcenter.cdns, :locals => {:show_only => true}  %></div></td>   
		<td><div id="callcenter_vsvms"><%= render :partial => @callcenter.callcenter_vsvms, :locals => {:show_only => true}  %></div></td>    
		<td><div id="callcenter_msgs"><%= render :partial => @callcenter.callcenter_msgs, :locals => {:show_only => true}  %></div></td>    
	</tr>
	<tr>
		<td><%= link_to 'Back', callcenters_path %></td>	
		<td></td>	
		<td></td>		
		<td></td>	
		<td></td>
		<td></td>
		<td></td>
		<td><%=link_to 'Edit', edit_callcenter_path(@callcenter) %></td>	
	</tr>
</table>


