<p id="notice"><%= notice %></p>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Priority</th>
		<th>Networked</th>		
		<th>DN</th>	
		<th><%= link_to 'CDN', callcenter_cdns_path(@callcenter.id) %></th>	
	</tr>
	<tr>
		<td><%= @callcenter.name %></td>
		<td><%= @callcenter.priority %></td>		
		<td><%= @callcenter.networked %></td>	
		<td><div id="outsidenumbers"><%= render :partial => @callcenter.outsidenumbers %></div</td>	
		<td><div id="cdns"><%= render :partial => @callcenter.cdns %></div></td>	
	</tr>
	<tr>
		<td><%= link_to 'Edit', edit_callcenter_path(@callcenter) %></td>
		<td><%= "" %></td>		
		<td><%= link_to 'Back', callcenters_path %></td>		
	</tr>
</table>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
	 <td>
	 	<%= form_for [@callcenter, Outsidenumber.new], :remote => true do |f| %>
                <%= f.text_field :dn %>
                <%= f.submit "Add DN" %>
         <% end %>
        </td>
		<td>
			<%= form_for [@callcenter, Cdn.new], :remote => true do |f| %>
                <%= f.text_field :extension %>
                 <%= f.submit "Add CDN" %>
            <% end %>
        </td>		
	</tr>
</table>

