<%= form_for(@vsvm) do |f| %>
  <% if @vsvm.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vsvm.errors.count, "error") %> prohibited this vsvm from being saved:</h2>

      <ul>
      <% @vsvm.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :dn %><br />
    <%= f.text_field :dn %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
