<h1>Listing vsvms</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Dn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vsvms.each do |vsvm| %>
  <tr>
    <td><%= vsvm.name %></td>
    <td><%= vsvm.dn %></td>
    <td><%= link_to 'Show', vsvm %></td>
    <td><%= link_to 'Edit', edit_vsvm_path(vsvm) %></td>
    <td><%= link_to 'Destroy', vsvm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vsvm', new_vsvm_path %>
