<h1>Listing officehours</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @officehours.each do |officehour| %>
  <tr>
    <td><%= officehour.name %></td>
    <td><%= link_to 'Show', officehour %></td>
    <td><%= link_to 'Edit', edit_officehour_path(officehour) %></td>
    <td><%= link_to 'Destroy', officehour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Officehour', new_officehour_path %>
