<h5>Listing Messages</h5>

<table>
  <tr>
    <th>Code</th>
    <th>Txt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @msgs.each do |msg| %>
  <tr>
    <td><%= msg.code %></td>
    <td><%= msg.txt %></td>
    <td><%= link_to 'Show', msg %></td>
    <td><%= link_to 'Edit', edit_msg_path(msg) %></td>
    <td><%= link_to 'Destroy', msg, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Msg', new_msg_path %>
