<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "extension" %></th>
    <th><%= sortable "dn" %></th>   
  </tr>
  <% for masterview in @masterviews %>
    <tr>
      <td><%= masterview.name %></td>
      <td><%= masterview.extension %></td>
      <td><%= masterview.dn %></td>   
    </tr>
  <% end %>
</table>

<%= paginate @masterviews %>
